<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>公司資料</title>
	<link th:href="@{/css/allCss.css}"  rel="stylesheet">
</head>
<body class=background2 onload="wol();">
<div th:replace="~{layout/navbar}"></div>
<div align="center">
<fieldset class="fieldset">
<legend class="legend">公司資料</legend>
<div class="st1">
<div class="legend" th:text="${success} ? '----'+${success}+'----'"></div>
<div th:text="${error} ? ${error}"></div>
</div>

	<div class="st1">
		<table>
		
		<tr><td><label class="t2">*統一編號</label><td><input type="text" readonly name="businessId1" th:value="${comInfo.businessId}" />
		<tr><td><label class="t2">*原始登記日期</label><td><input type="date" readonly name="registrationDate" th:value="${#dates.format(comInfo.registrationDate,'yyyy-MM-dd')}"/>
		<tr><td><label class="t2">*核發日期</label><td><input type="date" readonly id="mydate" name="issueDate" th:value="${#dates.format(comInfo.issueDate,'yyyy-MM-dd')}"/>
		<tr><td><label class="t2">廠商中文名稱 </label><td><input type="text" readonly name="chineseName" th:value="${comInfo.chineseName}"/>
		<tr><td><label class="t2">廠商英文名稱 </label><td><input type="text" readonly name="englishName" th:value="${comInfo.englishName}"/>
		<tr><td><label class="t2">中文營業地址 </label><td><input type="text" readonly name="chineseAddress" th:value="${comInfo.chineseAddress}"/>
		<tr><td><label class="t2">英文營業地址 </label><td><input type="text" readonly name="englishAddress" th:value="${comInfo.englishAddress}"/>
		<tr><td><label class="t2">代表人 </label><td><input type="text" readonly name="representative" th:value="${comInfo.representative}"/>
		<tr><td><label class="t2">電話號碼 </label><td><input type="text" readonly name="tel" th:value="${comInfo.tel}"/>
		<tr><td><label class="t2">傳真號碼 </label><td><input type="text" readonly name="fax" th:value="${comInfo.fax}"/>
		
		<tr th:if="${comInfo.importQualification}==0"><td><label class="t2">*進口資格</label><td><input type="radio" readonly name="importQualification" value="0" required checked/>無<input type="radio" name="importQualification" value="1" />有
		<tr th:if="${comInfo.importQualification}==1"><td><label class="t2">*進口資格</label><td><input type="radio" readonly name="importQualification" value="0" />無<input type="radio" name="importQualification" value="1" required checked/>有
		
		<tr th:if="${comInfo.exportQualification}==0"><td><label class="t2">*出口資格</label><td><input type="radio" readonly name="exportQualification" value="0" required checked/>無<input type="radio" name="exportQualification" value="1" />有
		<tr th:if="${comInfo.exportQualification}==1"><td><label class="t2">*出口資格</label><td><input type="radio" readonly name="exportQualification" value="0" />無<input type="radio" name="exportQualification" value="1" required checked/>有
		
		<tr><td><label class="t2">*建立者</label><td><input type="text" readonly name="creatUser" th:value="${comInfo.creatUser.username}" />
		<tr><td><label class="t2">*最後修改者</label><td><input type="text" readonly  name="updateUser" th:value="${comInfo.updateUser.username}"/>
		<tr><td><label class="t2">*最後修改時間</label><td><input type="datetime" readonly id="updateTime" th:value="${#dates.format(comInfo.updateTime,'yyyy-MM-dd HH:mm:ss')}" />
		<!--<tr><td>代表人照片<td><input type="file" name="RepresentativePhoto"/>-->
		</table>
	</div>

	<div class="stlast" th:if="${session.loginUserId != null} " style="display:flex; justify-content: center;">
		<a th:href="@{/company/updateByBNID(businessId=${comInfo.businessId})}"><input class="btmlast" type="button" value="修改資料" /></a>
		
		<form style="display:flex" th:method="delete" th:action="@{/company/deleteByBNID}" >
		<input name="businessId" th:value="${comInfo.businessId}" hidden/>
		<input class="btmlast" type="submit" value="刪除資料" onclick="return confirm('確定刪除此筆資料嗎?')"/>
		</form>
	</div>


</fieldset>
</div>
</body>
</html>
