<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>新增公司</title>
	<link th:href="@{/css/allCss.css}"  rel="stylesheet">
</head>
<body class=background2 onload="wol();">
<div th:replace="~{layout/navbar}"></div>
<form method="post" th:action="@{/company/insertPost}" ><!-- enctype="multipart/form-data" -->
<div align="center">
<fieldset class="fieldset">
<legend class="legend">新增公司</legend>
<div class="st1">
<div  class="legend" th:text="${success} ? ${success}"></div>
<div  class="legend" th:text="${error} ? ${error}"></div>
<h3>"*"星號為必填項目</h3>
</div>
<div class="st1">
<table>

<tr><td><label class="t2">*統一編號</label><td><input type="text" name="businessId" placeholder="BusinessId (必填)" maxlength="9"/>
<tr><td><label class="t2">*原始登記日期</label><td><input type="date" name="registrationDate" value="1995-06-09"/>
<tr><td><label class="t2">*核發日期</label><td><input type="date" id="mydate" name="issueDate" readonly/>
<tr><td><label class="t2">廠商中文名稱 </label><td><input type="text" name="chineseName" placeholder="XXX有限公司 (必填)"/>
<tr><td><label class="t2">廠商英文名稱 </label><td><input type="text" name="englishName" placeholder="XXX CO.,LTD (必填)"/>
<tr><td><label class="t2">中文營業地址 </label><td><input type="text" name="chineseAddress"/>
<tr><td><label class="t2">英文營業地址 </label><td><input type="text" name="englishAddress"/>
<tr><td><label class="t2">代表人 </label><td><input type="text" name="representative"/>
<tr><td><label class="t2">電話號碼 </label><td><input type="text" name="tel"/>
<tr><td><label class="t2">傳真號碼 </label><td><input type="text" name="fax"/>
<tr><td><label class="t2">*進口資格</label><td><input type="radio" name="importQualification" value="0" required checked/>無<input type="radio" name="importQualification" value="1" />有</td>
<tr><td><label class="t2">*出口資格</label><td><input type="radio" name="exportQualification" value="0" required checked/>無<input type="radio" name="exportQualification" value="1" />有</td>
<tr><td><label class="t2">*建立者</label><td><input type="text" name="creatUser" th:value="${session.loginUserId} ? ${session.loginUsername}" readonly/>
<!-- <tr><td><label class="t2">*最後修改者</label><td><input type="text"  name="updateUser" th:value="${session.loginUserId} ? ${session.loginUsername}" readonly/> -->
<tr><td><label class="t2">*建立日期</label><td><input type="date" id="mydate2" name="updateTime" readonly/>
<!--<tr><td>代表人照片<td><input type="file" name="RepresentativePhoto"/>-->
</table>
</div>
<div class="stlast">
<input class="btmlast" type="submit" value="確定" /><a th:href="@{/}"><input class="btmlast" type="button" value="檢視近期" /></a>
</div>
</fieldset>

</div>
</form>


<script type="text/javascript">
function wol(){
var mydateInput = document.getElementById("mydate");
var mydate2Input = document.getElementById("mydate2");
var date = new Date();
var dateString ;
if((date.getMonth()+1)<10){
dateString = date.getFullYear()+"-0"+(date.getMonth()+1)+"-"+date.getDate();
}else{dateString = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()}
mydateInput.value=dateString;
mydate2Input.value=dateString;
}
</script>

</body>
</html>
