@charset "UTF-8";
.background1 {
    background-color:  rgb(255, 255, 255);
}

.background2 {
    background-color:  rgb(230, 230, 230);
}

.allbigtable{
	all: revert;
	margin: auto;
    /*width: 500px;
      border: 7px solid red; */
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: -3px 3px 20px grey;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 20px;
    width: 1500px;
}

.tablehead{
    background-color: brown;
    text-align: left;
    line-height: 4ex;
    color: white;
}

.thcsssame{
	text-align: center;
	width: 110px;
	overflow:hidden;
}

.thcsslong{
	text-align: left;
	width: 300px;
	overflow:hidden;
}

.btminTB{
	width: 90px;
	color: white;
	background-color:  rgb(220, 220, 220);
	border: 2px solid white;
	border-radius: 20px;
	
}

.btminTB:hover{
	width: 90px;
	color: brown;
	background-color: white;
	border: 2px solid brown;
	border-radius: 20px;
	
}

.btminTB:active{
	width: 90px;
	color: black;
	background-color: white;
	border: 2px solid black;
	border-radius: 20px;
	
}

.btmPAGno{
	margin-left: 3px;
	margin-right: 3px;
	width: 60px;
	color: brown;
	background-color: white;
	border: 2px solid brown;
	border-radius: 20px;
	
}

.btmPAG{
	margin-left: 3px;
	margin-right: 3px;
	width: 60px;
	color: rgb(210, 210, 210);
	background-color: white;
	border: 2px solid rgb(210, 210, 210);
	border-radius: 20px;
	
}

.btmPAG:hover{
	width: 60px;
	color: brown;
	background-color: white;
	border: 2px solid brown;
	border-radius: 20px;
	
}

.btmPAG:active{
	width: 60px;
	color: black;
	background-color: white;
	border: 2px solid black;
	border-radius: 20px;
	
}


.btm{
	margin-left: 10px;
	margin-right: 10px;
	width: 130px;
	color: black;
	background-color: rgb(230, 230, 230);
	border: 2px solid white;
	border-radius: 20px;
	
}

.btm:hover{
	color: brown;
	background-color: white;
	border: 2px solid brown;
	border-radius: 20px;
	
}

.btm:active{
	color: black;
	background-color: white;
	border: 2px solid black;
	border-radius: 20px;
	
}

.btmlast{
	margin-left: 10px;
	margin-right: 10px;
	width: 100px;
	color: white;
	background-color: brown;
	border: 2px solid brown;
	border-radius: 20px;
	
}

.btmlast:hover{
	color: brown;
	background-color: white;
	border: 2px solid brown;
	border-radius: 20px;
	
}

.btmlast:active{
	color: black;
	background-color: white;
	border: 2px solid black;
	border-radius: 20px;
	
}

.fieldset{
            margin: auto;
            width: 600px;
            border: 7px solid brown;
            border-radius: 20px;
            margin-top: 60px;
            margin-bottom: 50px;
            background-color: white;
            box-shadow: -3px 3px 20px grey;
        }
        
.legend{	
	all: revert;
	color: brown;
            /*特殊字型*/
            font-weight: 900;
            font-style: normal;

            margin-left: 50px;
            font-size: 2em;
            padding: 0px 20px;
        }
	
.st1 {

            margin: 20px;
            border-bottom: 2px dashed rgb(233, 233, 233);
            padding-bottom: 20px;

        }
        
.stlast {
            margin: 20px;
            padding-bottom: 20px;

        }
        
.t1 {
    font-weight: bolder;
    float: left;
    text-align: right;
    margin-left: 60px;
}

.t2 {

    font-weight: bolder;
    float: right;
    margin-right: 10px;
}

.input{
	float: left;
	margin-top: 2px;
	margin-left: 10px;
}